@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}
.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 128px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%,#0000008c 100%),url('../images/computer.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 96%, 0 80%);
    z-index: -1;
    
}
/*nav*/
.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_items{
    list-style: none;
}
.nav_links{
    text-decoration: none;
    color: #fff;
}

.nav_close{
    display: var(--show,none);
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display: block;
    width: 30px;
}

/*Container*/
.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 120px;
    text-align: center;
}
.hero_title{
    font-size: 3rem;
}
.hero_paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #2091f9;
    justify-self: center;
    padding: 13px 30px;
    border-radius: 32px;
    
}


/*about*/
.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about_paragraph{
    line-height: 1.7;
}
.about_main{
    display: grid;
    gap: 1em;
    overflow: hidden;
    width: 90%;
    padding-top: 80px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
}
.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    overflow: hidden;
    width: 260px;
    margin: 0 auto;
}
.about_icon{
    width: 50px;
}

/*knowledge*/

.knowledge{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge_container{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_img{
    width: 100%;
    display: block;

}

/*Price*/
.price{
    text-align: center;
}

.price_table{
    display: flex;
    padding-top: 60px;
    gap: 2.5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    width: 330px;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    background-color: #e5e5f7;
    --color-plan:#696871;
    --color-price:#1D293F;
    --bg-cta:#fff;
    --color-cta:#5454D4;
    --color-items:#696871;
}
.price_element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan:rgb(255 255 255 / 75%);
    --color-price:#fff;
    --bg-cta:#9f3919;
    --color-cta: #fff;
    --color-items:#fff;

}

.price_name{
    margin-bottom: 20px;
    color: var(--color-plan);
    font-weight: 300;
}
.price_price{
    color: var(--color-price);
    font-size: 2.5rem;
}
.price_items{
    color: var(--color-items);
    margin-bottom: 50px;
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-size: 1.2rem;
    font-weight: 300;


}
.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    background-color: var(--bg-cta);
    color: var(--color-cta);
    box-shadow: 0 0 1 rgb(0, 0, 0.5);

}
